/***********************************
             HEADER
***********************************/

.main-header {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;

     @media (max-width: 768px) {
        & {
          flex-direction: column-reverse;  
        }
    }
 
}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toggle__label {
        background-color: black;
    }
}

/***********************************
             NAV BAR
***********************************/

.nav-bar {
    background-color: #321340;
    order: 2;
    

    &__nav-list {
        
        display: flex;
        list-style-type: none;
        justify-content: center;
        

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
    }

    &__nav-item {
        text-align: center;
        background-color: #321340;
    }

    &__nav-link {
        display: block;
        background-color: #321340;
        color: #fff;
        padding: 1em 2em;
        text-decoration: none;
        /*clip-path: ellipse(47% 30% at 50% 52%);*/
        text-transform: uppercase;
        
    }

    @media (max-width: 768px) {
        & {
            display: none;
            opacity: 0;
        }
        &__nav-link:hover{
            border-left: none;
           
        }
    }

}

/***********************************
             SEARCH BAR
***********************************/

.search-bar {
    //background-color: olivedrab;
    display: flex;
    justify-content: space-around;

    &__logo-container,
    &__form-container {
        padding: 1em;
    }

    &__logo-container {
        background-color: white;
        margin-left: 60px;
    }

    &__form-container {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        color: #4f5b66;
        
    }

    &__form-label {
        position: absolute;
        top: 10%;
        margin-left: -50%;
        margin-top: -.5%;
        z-index: 1;
        color: #4f5b66;
        display: block;
        
    } 
        
    &__form-search {
        height: 50px;
        background: #bc85d5;
        border: none;
        font-size: 10pt;
        float: left;
        color: white;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 70%;
        margin-top: 30px;
    }
       
    
    &__form-submit {
        background-color: #753a8f;
        color: white;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 10pt;
        width: 5%;
        height: 50px;
        margin-top: 30px;

    }
      
    &__carrito-container {
        flex: 0 0 3em;
        background-color: white;
        font-size: 30px;
        height: 50px;
        text-align: center;
        padding: .5%;
        margin-top: 45px;
        margin-right: 30px;
    }

        @media (max-width: 768px){
        
        &__carrito-container{
            flex: 0 0 2.5em;
        }

        &__form-label{
            display: none;
        }

        &__logo-container{
            height: auto;
            width: auto;
        }

        &__form-container {
            padding: 1em;
        }

        &__form-container {
            justify-content: flex-end;
            align-items: center;
            padding: 5px;
            font-weight: 100;
        }

        &__form-search {
            width: 100%;
            margin: 0.1em;
        }

        &__form-submit {
            font-size: 12px;
            width: 100%;
            margin: 0.1em;
        }
    
    } 
}

/***********************************
             MENU TOGGLE
***********************************/

.menu-toggle {
    display: none;
    background-color: #092bff;
    color: #333;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        background-color:#333;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        //z-index: 2;
        background-color: #3333;
        color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
    }

    &__top-bread {
        top: .8em;
    }

    &__meat {
        top: 50%;
        margin-top: -.1em;
    }

    &__bottom-bread {
        bottom: .8em;
    }

    @media (max-width: 768px) {
        & {
            display: block;
            flex:0 0 2.5em;
        }
    }

}
