
.titulo {
    background-color: green;
}

.text-content {
    background-color: aquamarine;
}

.mision {
    color: black
}

.historia{
    background-color: beige;
}
h3 {
    color: black;
}

.sucursales {
    color: black
}